{% extends 'layouts/public.html' %}

{% block content %}
<div class="flex hv100 wp100 justifyCenter alignStart paddingLarge borderBox columnFlex minusTopNav backFixed">
    <div class="flex rowFlex wp100 gapLarge">
        <div class="flex columnFlex justifyCenter alignStart">
            <span class="navComp"></span>
            <h2 class="textLeft aos-init" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">{{ _('Olá!') }}</h2>
            <h1 class="textLeft aos-init" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">{{ _('Eu sou') }}</h1>
            <h1 class="babilonicColor textLeft aos-init" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000">Sam Mahonri.</h1>

        </div>

        <!--  <div class="boxFurlibre alignCenterSelf justifyCenterSelf"></div> -->
    </div>
    
    
</div>

{% endblock %}