{% extends 'layouts/base.html' %}

{% block title %}
    {{ _('Sam Mahonri - Artes') }}
{% endblock %}

{% block content %}

<style>
    .back1 {
        background-image: url('/static/source/backgallery.svg');
        
    }

    .back2 {
        background-image: url('static/source/backgallery2.svg');
    }
</style>

<main class="back back1" id="init-main">
    <section>
        <div class="flex hv100 wp100 justifyCenter alignStart paddingLarge borderBox columnFlex minusTopNav backFixed">
            
            <div class="flex rowFlex wp100 gapMedium alignCenter">
                <span class="dotMark aos-init animate-me" data-aos="fade-up" data-aos-delay="1250">
                    <span class="markRailBottom"></span>
                </span>
                <span style="width: 256px;" class="onlyDesktop aos-init" data-aos="fade-left" data-aos-delay="1250">{% include 'components/sam_logo.html' %}</span>
                <div class="flex columnFlex justifyStart alignStart wp100 gapMedium flexExpand aos-init" data-aos="fade">
                    <span class="navComp"></span>
                    <div class="flex overflowHidden">
                        <h1 class="textLeft aos-init" data-aos="fade-up" data-aos-delay="500">{{ _('Arte & Design') }}</h1>
                    </div>
                    
                    <div class="flex flexGrid gapMedium extraMargin">
                        <span class="aos-init" data-aos="fade-up" data-aos-delay="1800"><button class="primaryButton" onclick="scrollToSection('art-section')"><i class="fa-solid fa-arrow-down"></i>{{ _('Ver tudo')}}</button></span>
                        {% if global_settings.get('comms_open', False) %}
                        <span class="aos-init" data-aos="fade-up" data-aos-delay="2000"><a href="/commissions" ><button class="plainButton"><i class="fa-solid fa-paw"></i>{{ _('Encomendar')}}</button></a></span>
                        {% endif %}
                    </div>
                    {% include 'components/warning.html' %}
                </div>
            </div>
        </div>
    </section>
</main>
<main class="back back2" id="art-section">
    <section>
        <div class="flex hv100 wp100 alignStartCenter paddingLarge borderBox columnFlex minusTopNav backFixed">
            <span class="navComp"></span>
            <div class="flex columnFlex justifyStart alignStartCenter wp100 gapMedium">
                <div id="imageGrid" class="gridContainer"></div>
                <script>
                    setTimeout(() => {
                        fetchImages(false, true)
                    }, 100);
                </script>
            </div>
        </div>
    </section>
</main>

{% endblock %}