{% extends 'layouts/base.html' %}

{% block content %}

<style>
    .back1 {
        background-image: url('/static/source/backadmin.svg');
    }

    .back2 {
        background-image: url('/static/source/backgallery.svg');
    }
</style>

<main class="back back1" id="init-main">
    <section>
            <div class="flex wp100 justifyCenter alignStartCenter paddingLarge borderBox columnFlex minusTopNav backFixed">
                <div class="flex columnFlex justifyStart alignStartCenter wp100 gapMedium aos-init" data-aos="fade">
                    <span class="navComp"></span>
                    <h1 class="textLeft aos-init" data-aos="fade-left">{{ _('Galeria de imagens') }}</h1>
                    <hr>
                    <button class="primaryButton wpFit alignStartCenter" id="bt-open-upload-dialog" onclick="launchPopup('/dyna/upload_image?callback=self&id=auto-image-uploader', 'pop-container');"><i class="fa-solid fa-image"></i>{{ _('Nova imagem') }}</button>
                </div>
            </div>
    </section>
</main>
<main class="back back2" id="init-main">
    <section>
        <div class="flex hv100 wp100 alignStartCenter paddingLarge borderBox columnFlex minusTopNav backFixed">
            <div class="flex columnFlex justifyStart alignStartCenter wp100 gapMedium">
                <div id="imageGrid" class="gridContainer"></div>
                <script>
                    setTimeout(() => {
                        fetchImages()
                    }, 100);
                </script>
            </div>
        </div>
    </section>
</main>

{% endblock %}