{% extends 'layouts/base.html' %}

{% block content %}

<style>

    .back1{
        background-image: url('/static/source/back1.svg');
    }
</style>

<main class="back back1" id="init-main">
    <section>
        <div class="flex hv100 wp100 justifyCenter alignStartCenter paddingLarge borderBox columnFlex minusTopNav backFixed">
            

            <div class="flex columnFlex justifyStart alignStartCenter">
                <span class="navComp onlyMobile"></span>
                <h1 class="textLeft aos-init" data-aos="fade-left">{{ _('Área restrita') }}</h1>
                
                <form method="POST" action="{{ url_for('auth.login') }}" id="login-form" class="flex columnFlex form alignStart extraMargin">
                    {{ form.csrf_token }}
                    {% from "macros/form_input.html" import render_field %}
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    <button type="submit" class="primaryButton alignEndSelf">{{ _('Entrar') }}</button>
                </form>
                

            </div>

        </div>
    </section>
</main>

{% endblock %}