{% include 'components/splash.html' %}

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

<script >
    AOS.init({
    disable: false,
    startEvent: 'DOMContentLoaded',
    initClassName: 'aos-init',
    animatedClassName: 'aos-animate',
    useClassNames: false,
    disableMutationObserver: false,
    debounceDelay: 50,
    throttleDelay: 99,

    offset: -64,
    delay: 500,
    duration: 1000, 
    once: true,
    mirror: false,
    anchorPlacement: 'top-bottom',

    });
    document.addEventListener('DOMContentLoaded', () => {
        const SPLASH_LOADING = document.getElementById('splashScreenId');
        setTimeout(() => {
            SPLASH_LOADING.classList.add('opacity0');
        }, 500);
        
    })
</script>

<!-- Mensagens traduzíveis pelo Flask Babel -->
<script type="text/javascript">
    const ERR = Object.freeze({
        REQUEST_ERROR: "{{ _('Ocorreu um erro ao completar a solicitação.') }}",
        NOT_FOUND: "{{ _('Item não encontrado.') }}",
        ACCESS_DENIED: "{{ _('Você não tem permissão para realizar esta ação.') }}",
        UNAUTHORIZED: "{{ _('Você precisa estar autenticado para realizar esta ação.') }}"
    });

    const DEF = Object.freeze({
        LOADING: "{{ _('Carregando...') }}",
        PROCCESSING: "{{ _('Processando...') }}"
    });
</script>

<script src="{{ url_for('static', filename='js/furtheme.js') }}"></script>
<script src="{{ url_for('static', filename='js/furdyna.js') }}"></script>
<script src="{{ url_for('static', filename='js/furfetch.js') }}"></script>