{% include 'components/splash.html' %}

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

<script >
    AOS.init({
    disable: false,
    startEvent: 'DOMContentLoaded',
    initClassName: 'aos-init',
    animatedClassName: 'aos-animate',
    useClassNames: false,
    disableMutationObserver: false,
    debounceDelay: 50,
    throttleDelay: 99,

    offset: -64,
    delay: 300,
    duration: 850, 
    once: true,
    mirror: false,
    anchorPlacement: 'top-bottom',

    });

    function splashScreen(hide = true){
        const SPLASH_LOADING = document.getElementById('splashScreenId');
        if (hide){
            setTimeout(() => {
                SPLASH_LOADING.classList.add('opacity0');
            }, 500); 
        }else{
            SPLASH_LOADING.classList.remove('opacity0');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        splashScreen(true);
    })
</script>

<!-- Mensagens traduzíveis pelo Flask Babel -->
<script type="text/javascript">
    const ERR = Object.freeze({
        REQUEST_ERROR: "{{ _('Ocorreu um erro ao completar a solicitação.') }}",
        NOT_FOUND: "{{ _('Item não encontrado.') }}",
        ACCESS_DENIED: "{{ _('Você não tem permissão para realizar esta ação.') }}",
        UNAUTHORIZED: "{{ _('Você precisa estar autenticado para realizar esta ação.') }}",
        COPY_ERROR: "{{ _('Ocorreu um erro ao copiar o texto.') }}",
        COPY_UNSUPPORTED: "{{ _('Seu navegador restringiu a copia, realize a copia manualmente.') }}",
        IMAGE_NOT_ALLOWED: "{{ _('Por favor, selecione um arquivo de imagem válido (.png, .jpg, .jpeg, .gif).') }}",
    });

    const DEF = Object.freeze({
        LOADING: "{{ _('Carregando...') }}",
        PROCESSING: "{{ _('Processando...') }}",
        
    });

    const OK = Object.freeze({
        COPIED: "{{ _('Texto copiado!') }}"
    })

    const DEFAULT_LOADING_SPINNER = `{% include 'components/loading_spinner.html' %}`
</script>

<script src="{{ url_for('static', filename='js/furtheme.js') }}"></script>
<script src="{{ url_for('static', filename='js/furdyna.js') }}"></script>
<script src="{{ url_for('static', filename='js/furfetch.js') }}"></script>
<script src="{{ url_for('static', filename='js/furcallbacks.js') }}"></script>