<div class="flex flexGrid gapMedium extraMargin">
    <a href="/lang/pt_BR?page={{request.path}}" class="aT {{ 'activeAT' if current_language == 'pt_BR' }}"><i class="fa-solid fa-globe"></i>{{ _('PT-BR') }}</a>
    <a href="/lang/en?page={{request.path}}" class="aT {{ 'activeAT' if current_language == 'en' }}"><i class="fa-solid fa-globe"></i>{{ _('EN') }}</a>
    <a href="/lang/es?page={{request.path}}" class="aT {{ 'activeAT' if current_language == 'es' }}"><i class="fa-solid fa-globe"></i>{{ _('ES') }}</a>
    <a href="/lang/fr?page={{request.path}}" class="aT {{ 'activeAT' if current_language == 'fr' }}"><i class="fa-solid fa-globe"></i>{{ _('FR') }}</a>
</div>