<nav class="navbar borderBox noBack justifyCenter topInvScroll" class-on-scroll="applyNoBack">
    <section class="flex rowFlexColumn borderBox gapLarge">
        <span class="flex rowFlex alignCenter justifyCenter">
            <a href="/" class="flex rowFlex alignCenter justifyCenter">
                <span style="width: 52px;">{% include 'components/sam_logo.html' %}</span>
                <span class="flex columnFlex">
                    <h2>Sam Mahonri</h2>
                    {% if request.path.startswith('/admin') %}
                        <div class="tag backRed">
                            Admin
                        </div>
                    {% endif %}
                </span>
                
            </a>
            <span class="flexExpand"></span>
            
            <button onclick="toggleMenu(this)" class="selectorButton onlyMobile">
                <i class="fa-solid fa-bars"></i>
            </button>
            
        </span>
        
        <span class="flexExpand"></span>
        <div class="flex rowFlexColumn justifyCenter alignCenter gapLarge">

            {% if (session['user'] and not request.path.startswith('/admin')) or not session['user'] %}
                <a href="/" class="aT {{ 'activeAT' if request.path == '/' else '' }}">{{ _('Início') }}</a>
                <a href="#" class="aT {{ 'activeAT' if request.path.startswith('/about') else '' }}">{{ _('Sobre mim') }}</a>
                <a href="#" class="aT {{ 'activeAT' if request.path.startswith('/projects') else '' }}">{{ _('Projetos')}}</a>
                <a href="#" class="aT {{ 'activeAT' if request.path.startswith('/arts') else '' }}">{{ _('Artes') }}</a>
            {% else %}
                <a href="/admin/" class="aT {{ 'activeAT' if request.path == '/admin/' else '' }}">{{ _('Painel') }}</a>
                <a href="/admin/gallery" class="aT {{ 'activeAT' if request.path.startswith('/admin/gallery') else '' }}">{{ _('Galeria') }}</a>
                <a href="/" class="aT {{ 'activeAT' if request.path.startswith('/admin/comms') else '' }}">{{ _('Comissões') }}</a>
                <a href="/" class="aT {{ 'activeAT' if request.path.startswith('/admin/news') else '' }}">{{ _('Novidades') }}</a>
            {% endif %}
                <button id="themeBtn" class="selectorButton themeSelector" title="{{ _('Alternar esquema de cores') }}">
                    <i id="themeIcon" class="fas fa-adjust"></i>
                </button>
            {% if session['user'] %}
                {% if not request.path.startswith('/admin') %}
                    <a href="/admin" title="{{ _('Ir para página de administração') }}"><button class="selectorButton">
                        <i class="fa-solid fa-lock"></i>
                    </button></a>
                {% endif %}
                <a href="/auth/logout" title="{{ _('Encerrar sessão') }}"><button class="selectorButton">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </button></a>
            {% endif %}
            <div class="onlyMobile">
                {% include 'components/lang.html' %}
            </div>
        </div>
        
        <span class="flexExpand onlyMobile"></span>
    </section>
</nav>

<script>
function toggleMenu(bt) {
  var navbar = document.querySelector('.navbar');
  navbar.classList.toggle('noCollapsed');
  if(navbar.classList.contains('noCollapsed')){ bt.innerHTML = '<i class="fa-regular fa-circle-xmark"></i>'}
  else{bt.innerHTML = '<i class="fa-solid fa-bars"></i>'}
};
</script>