<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block opengraph %}
        <meta property="og:url" content="https://sammahonri.com">
        <meta property="og:type" content="website">
        <meta property="og:image" content="static\source\default_og.png">
    {% endblock %}
    <title>
        {% block title %}
            Sam Mahonri - Portfólio
        {% endblock %}
    </title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    {% include 'components/all.html' %}
    {% from "macros/form_input.html" import render_field, render_copy_field %}
    {% from "macros/img_view.html" import render_img_view %}
    {% from "macros/pop_area.html" import render_popup %}
    

    {% block navbar %}
        {% with current_page = 'home'%}
            {% include 'components/navbar.html' %}
        {% endwith %}
    {% endblock %}

    

    {% block content %}
    <main>
        <section>
            
        </section>
    </main>
    {% endblock %}

    

    {% block footer %}
        {% include 'components/footer.html' %}
    {% endblock %}

    {% include 'components/messages.html' %}

    {{ render_popup("pop-container") }}
    {{ render_popup("pop-container-2", "panel") }}

    <button class="selectorButton goUpBt topInvScroll" class-on-scroll="opacity0" offset-on-scroll="256" onclick="scrollToSection('init-main', 1000)"><i class="fa-solid fa-angles-up"></i></button>

</body>
</html>