
.applyNoBack{
    height: 100px;
    max-height: 100px;
    backdrop-filter: blur(0px) !important;
    background-color: transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
    border-color: transparent;
}

nav{
    height: 82px;
    max-height: 82px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 8px var(--neutral-dark);
    background-color: var(--sec-dark);
    
}nav > section{
    padding: var(--padding-large);
}

.checkbox-label {
    position: relative;
    display: block;
    padding-left: 36px;
    margin-bottom: 19px;
    cursor: pointer;
    
    user-select: none;
}

.checkbox-label > p{
    translate: 0px 2px;
    font-size: 11pt;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: var(--neutral-color);
    border: solid 1px var(--neutral-color);
    border-radius: var(--border-3-radius);
    display: inline;
}

.checkbox-label:hover input ~ .checkmark {
    background-color: var(--current-text-color);
}

.checkbox-label input:checked ~ .checkmark {
    background-color: var(--theme-color);
    box-shadow: 0px 4px 8px var(--theme-color-trans);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid  var(--light-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.innerLabel{
    margin-bottom: -16px;
    margin-top: 16px;
    width: 100%;
}

.innerLabel > span{
    pointer-events: none;
    max-width: calc(100% - 16px);
    display: inline-block;
    position: relative;
    bottom: 58px;
    left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: -32px;
    min-width: 0px;
}
.innerLabel > input:focus ~ span,
.innerLabel > input:not(:placeholder-shown) ~ span,
.innerLabel > input:focus ~ span *,
.innerLabel > input:not(:placeholder-shown) ~ span *{
    bottom: 88px;
    left: 0px;
    max-width: calc(100% - 8px);
    background-color: var(--theme-color);
    color: var(--light-color);
    font-size: 11pt;
    

}.innerLabel > input:not(:placeholder-shown), .innerLabel > input:focus{
    border-color: var(--theme-color);
    border-top-left-radius: 0px;
    margin-top: 16px;
}

textarea:not(:placeholder-shown){
    border-color: var(--theme-color);
}

.innerLabel > span > i{
    margin-right: 8px;
}

form h2{
    margin-bottom: 16px;
}

.successBorder{
    border-color: var(--success-color) !important;
}

@media only screen and (max-width: 700px){
    .applyNoBack > section{
        padding-top: calc(var(--padding-large) / 1.5) !important;
    }
    nav > section{
        padding-top: calc(var(--padding-large) / 2.5);
    }
    .noCollapsed{
        max-height: 100% !important;
        height: 100% !important;
        background-color: var(--current-back-color) !important;
        backdrop-filter: blur(0px);
        overflow: auto;
    }
}