
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
:root {
    /* Cores Gerais */
    --dark-color: #1c1b24;
    --light-color: #f5f0fc;
    --current-back-color: var(--dark-color);
    --current-text-color: var(--light-color);
    --neutral-dark: rgba(22, 22, 32, 0.267);
    /* Cores do Tema */
    --theme-color: #9265e6;
    --theme-color-trans: #9265e65e;
    --theme-babilonic: #de4c7d;
    --error-color: #e62169;
    --success-color: rgb(59, 199, 134);
    --warning-color: rgb(231, 177, 61);

    /* Tamanhos de Texto */
    --p-text-size: 12pt;
    --mob-p-text-size: 11pt;
    --h1-text-size: 37pt;
    --mob-h1-text-size: 27pt;
    --h2-text-size: 15pt;
    --mob-h2-text-size: 12pt;
    --primary-bt-text-size: 9pt;

    /* Fontes */
    --font-family-logo: 'Lexend', sans-serif;
    --font-family-primary: 'Unbounded', sans-serif;
    --font-family-secondary: 'Lexend', sans-serif;

    /* Espaçamentos */
    --padding-small: 12px;
    --padding-medium: 16px;
    --padding-large: 32px;
    --padding-button: 18px 28px 18px 28px;
    --margin-small: 8px;
    --margin-medium: 16px;
    --margin-large: 24px;
    --padding-panel: 24px;

    /* Gaps */
    --gap-small: 8px;
    --gap-medium: 16px;
    --gap-large: 24px;
    --gap-x-large: 48px;

    /* Outras Propriedades */
    --border-radius: 32px;
    --border-2-radius: 16px;
    --border-3-radius: 8px;
    --box-shadow: 0 0px 8px rgba(0, 0, 0, 0.375);

    --sec-dark: #110f16be;
    --neutral-color: rgba(119, 115, 145, 0.26);
    --transition-duration: 0.3s;

    --line-height-h1: 48px;
    --mob-line-height-h1: 36px;
}

/* Modo Claro (Exceção) */
:root.light-theme {
    --current-back-color: #ece6f5;
    --current-text-color: rgb(76, 75, 97);
    --sec-dark: #ece6f5c0;
}