<style>
    .back1 {
        background-image: url('/static/source/backadmin.svg');
    }

    .back2 {
        background-image: url('/static/source/backgallery.svg');
    }
</style>

<main class="back back1" id="init-main">
    <section>
            <div class="flex wp100 justifyCenter alignStartCenter paddingLarge borderBox columnFlex minusTopNav backFixed">
                <div class="flex columnFlex justifyStart alignStartCenter wp100 gapMedium aos-init" data-aos="fade">
                    <span class="navComp"></span>
                    <h1 class="textLeft aos-init" data-aos="fade-left">{{ _('Galeria de imagens') }}</h1>
                    <hr>
                    <button class="primaryButton wpFit alignStartCenter" id="bt-open-upload-dialog" onclick="addTemplate('/dyna/upload_image?callback=self&id=auto-image-uploader', 'pop-container-content'); elementVisible('pop-container-area', true, true); popupCallback = ['', {}];"><i class="fa-solid fa-image"></i>{{ _('Nova imagem') }}</button>
                </div>
            </div>
    </section>
</main>
<main class="back back2" id="init-main">
    <section>
        <div class="flex hv100 wp100 alignStartCenter paddingLarge borderBox columnFlex minusTopNav backFixed">
            <div class="flex columnFlex justifyStart alignStartCenter wp100 gapMedium">
                <style>
                    .grid-container {
                        cursor: pointer;
                        overflow: hidden;
                        border-radius: var(--border-2-radius);
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .grid-container img {
                        min-width: 360px;
                        flex: 1;
                        height: 50vh;
                        object-fit: cover;
                    }

                    .image-container {
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        min-width: 360px;
                        flex: 1;
                        height: 40vh;
                    }

                    .image-container:hover .overlay {
                        opacity: 1;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: var(--sec-dark);
                        color: var(--current-text-color);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }

                    .image-container img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .overlay .tag {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        color: var(--current-text-color);
                    }

                </style>
                <div id="imageGrid" class="grid-container"></div>
                <script>
                    setTimeout(() => {
                        fetchImages()
                    }, 100);
                    
                    
                </script>
            </div>
        </div>
    </section>
</main>